* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b1020;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero h2 {
    color: #00c8ff;
    font-weight: normal;
    margin-bottom: 15px;
}

.hero p {
    color: #bfc7d5;
}
